In [2]:
import pandas as pd

In [3]:
# Dataframe de planetas
data = {
    "Planeta": ["Mercurio", "Venus", "Tierra", "Marte", "Júpiter", "Saturno", "Urano", "Neptuno"],
    "Radio_km": [2439.7, 6051.8, 6371, 3389.5, 69911, 58232, 25362, 24622],
    "Lunas": [0, 0, 1, 2, 80, 83, 27, 14],
    "Tipo": ['Terrestre', 'Terrestre', 'Terrestre', 'Terrestre', 'Gigante de gas', 'Gigante de gas', 'Gigante de Hielo', 'Gigante de Hielo'],
    "Anillos": ['no', 'no', 'no', 'no', 'si', 'si', 'si', 'si'],
    "Temperatura_media_c": [167, 464, 15, -65, -110, -140, -195, -200],
    "Campo_magnetico": ['si', 'no', 'si', 'no', 'si', 'si', 'si', 'si']
}

# Crear el DataFrame
planetas = pd.DataFrame(data)

# Mostrar el DataFrame
planetas

,Planeta,Radio_km,Lunas,Tipo,Anillos,Temperatura_media_c,Campo_magnetico
0,Mercurio,2439.7,0,Terrestre,no,167,si
1,Venus,6051.8,0,Terrestre,no,464,no
2,Tierra,6371.0,1,Terrestre,no,15,si
3,Marte,3389.5,2,Terrestre,no,-65,no
4,Júpiter,69911.0,80,Gigante de gas,si,-110,si
5,Saturno,58232.0,83,Gigante de gas,si,-140,si
6,Urano,25362.0,27,Gigante de Hielo,si,-195,si
7,Neptuno,24622.0,14,Gigante de Hielo,si,-200,si

In [6]:
planetas.groupby('Tipo')['Temperatura_media_c'].count()

Tipo
Gigante de Hielo    2
Gigante de gas      2
Terrestre           4
Name: Temperatura_media_c, dtype: int64

In [13]:
planetas.groupby('Tipo')['Radio_km'].min()

Tipo
Gigante de Hielo    24622.0
Gigante de gas      58232.0
Terrestre            2439.7
Name: Radio_km, dtype: float64

In [26]:
planetas.groupby('Anillos').apply(lambda df: df['Planeta'].iloc[0])

C:\Users\crist\AppData\Local\Temp\ipykernel_21816\3674514794.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  planetas.groupby('Anillos').apply(lambda df: df['Planeta'].iloc[0])

Anillos
no    Mercurio
si     Júpiter
dtype: object

In [30]:
planetas.groupby('Tipo')['Lunas'].agg(['min', 'max'])

                  min  max
Tipo
Gigante de Hielo   14   27
Gigante de gas     80   83
Terrestre           0    2

In [32]:
planetas.sort_values(by = 'Temperatura_media_c')

,Planeta,Radio_km,Lunas,Tipo,Anillos,Temperatura_media_c,Campo_magnetico
7,Neptuno,24622.0,14,Gigante de Hielo,si,-200,si
6,Urano,25362.0,27,Gigante de Hielo,si,-195,si
5,Saturno,58232.0,83,Gigante de gas,si,-140,si
4,Júpiter,69911.0,80,Gigante de gas,si,-110,si
3,Marte,3389.5,2,Terrestre,no,-65,no
2,Tierra,6371.0,1,Terrestre,no,15,si
0,Mercurio,2439.7,0,Terrestre,no,167,si
1,Venus,6051.8,0,Terrestre,no,464,no

In [48]:
planetas.sort_values(by = ['Radio_km'], ascending= False)

,Planeta,Radio_km,Lunas,Tipo,Anillos,Temperatura_media_c,Campo_magnetico
4,Júpiter,69911.0,80,Gigante de gas,si,-110,si
5,Saturno,58232.0,83,Gigante de gas,si,-140,si
6,Urano,25362.0,27,Gigante de Hielo,si,-195,si
7,Neptuno,24622.0,14,Gigante de Hielo,si,-200,si
2,Tierra,6371.0,1,Terrestre,no,15,si
1,Venus,6051.8,0,Terrestre,no,464,no
3,Marte,3389.5,2,Terrestre,no,-65,no
0,Mercurio,2439.7,0,Terrestre,no,167,si

In [53]:
planetas.sort_values(by = ['Anillos', 'Lunas'])

,Planeta,Radio_km,Lunas,Tipo,Anillos,Temperatura_media_c,Campo_magnetico
0,Mercurio,2439.7,0,Terrestre,no,167,si
1,Venus,6051.8,0,Terrestre,no,464,no
2,Tierra,6371.0,1,Terrestre,no,15,si
3,Marte,3389.5,2,Terrestre,no,-65,no
7,Neptuno,24622.0,14,Gigante de Hielo,si,-200,si
6,Urano,25362.0,27,Gigante de Hielo,si,-195,si
4,Júpiter,69911.0,80,Gigante de gas,si,-110,si
5,Saturno,58232.0,83,Gigante de gas,si,-140,si